@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

:root {
  --button_color: #c47344;
  --selection: #db9676e3;
}
.major_inf {
  padding: 2%;
}
fieldset::selection {
  background-color: var(--selection);
}
legend::selection {
  background-color: var(--selection);
}
label::selection {
  background-color: var(--selection);
}
option::selection {
  background-color: var(--selection);
}
select::selection {
  background-color: var(--selection);
}
button::selection {
  background-color: var(--selection);
}
label {
  margin-left: 1%;
  
  transition-property: background-color;
  transition-duration: 0.3s;
}
input {
  margin-left: 1%;
  border-radius: 10px;
  border-color: rgb(230, 173, 100);

  transition-property: color;
  transition-duration: 0.3s;
}
input:focus {
  outline: 0.15em solid #c473448f;
}
label:hover {
  background-color: #c473441e;
}
.radio_day {
  margin: 0 auto;
}
.form_button {
  padding: 0, 5em;
  background-color: var(--button_color);
  margin-right: 2%;
  color: white;
  border-color: transparent;
  border-radius: 10%;
  margin-top: 1%;

  transition-property: background-color;

  transition-duration: 0.3s;

}
button.form_button:disabled {
  opacity: 0.5;
}
input:hover {
  background-color: #c4734411;
  
}

button.form_button:hover {
  background-color: #834b2a;
}
button.form_button:active {
  box-shadow: 5px 3px 8px #834b2a;
}

.radio_text{
  transition-property:font-weight, font-size ;
  transition-duration:0.2s ;
}
input[type="radio"]:checked ~ .radio_text {
  color: #802f00;
  font-weight: 600;
  text-shadow: 5px 3px 5px #c78b5a;
  font-size:1.1em;
}
.check_text{
  transition-property:font-weight, font-size,color ;
  transition-duration:0.2s ;
}
input[type="checkbox"]:checked ~ .check_text {
  font-weight: bolder;
  font-size:1.1em;
  color: #423025;
}

input.required:after {
  color: red;
  content: " *";
}
.star {
  color: red;
}
input:invalid {
  background-color: #ffd9b57c;
}
dt {
  margin-top: 1em;
}

.first-letter::first-letter {
  font-size: 2em;
}
dd:before {
  content: "\1F6C8 ";
}
.li_check {
  display: flow-root;
  margin-bottom: 1em;
}
.checkbox_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}

.check_line:checked + .check_text {
  text-decoration: line-through;
}
.li_check:nth-child(2n) {
  background-color: #c781594b;
}
.li_check:nth-child(2n + 1) {
  background-color: #d64f004b;
}
.psevdo_box {
  padding: 2em;
  margin-right: 10%;
  margin-left: 10%;

}
html, body {
    height: 100%;
    margin: 0;
   }
   .wrapper {
    min-height: 100%;
   
    margin-bottom: -50px;
   }
   .footer_form,
   .push {
    height: 200px;
   }