@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,800;0,900;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

:root {
  --color_header: #322f2e;
  --links_color: #333333;
  --selection: #db9676e3;
  --selection_image: #ebc2b2b7;
}



a::selection {
  background-color: var(--selection);
}
body::selection {
  background-color: var(--selection);
}
footer::selection {
  background-color: var(--selection);
}
a::selection {
  background-color: var(--selection);
}
div::selection {
  background-color: var(--selection);
}
p::selection {
  background-color: var(--selection);
}
h1::selection {
  background-color: var(--selection);
}
h2::selection {
  background-color: var(--selection);
}
h3::selection {
  background-color: var(--selection);
}
h4::selection {
  background-color: var(--selection);
}
h5::selection {
  background-color: var(--selection);
}
img::selection {
  background-color: var(--selection_image);
}
input::selection {
  background-color: var(--selection);
}
br::selection {
  background-color: var(--selection);
}
ul::selection {
  background-color: var(--selection);
}
form::selection {
  background-color: var(--selection);
}

h1 {
  color: var(--color_header);
}
h4 {
  color: var(--links_color);
  font-weight: normal;
}
h5 {
  color: var(--links_color);
}
body {
  background-image: linear-gradient(#fff8ee, white);
  font-family: Roboto;
  width: 100% auto;
}
.li1 {
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
  display: inline;
  padding: 10px;

  transition-property: font-size;
  transition-duration: 0.2s;


}
li.li1:hover{
  font-size:1.06em;
}


.header_container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
}

.get_start {
  border: 1px solid transparent; /* Параметры рамки */
  background-color: #c47344;
  width: 130px; /* Ширина кнопки */
  height: 40px; /* Высота */
  padding: 10px;
  border-radius: 20px;
  font-weight: 400;
  color: white;

  white-space: nowrap;


  transition-property: background-color;
  transition-duration: 0.3s;
}

a.get_start:hover {
  background-color: #854622;
}
a.button {
  border: 1px solid transparent; /* Параметры рамки */
  background-color: #c47344;
  width: 130px; /* Ширина кнопки */
  height: 40px; /* Высота */
  border-radius: 20px;
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0 auto;

  justify-content: center;
  font-size: 100;

  transition-property: background-color;
  transition-duration: 0.3s;
}
a.button:hover {
  background-color: #854622;
}
.button_text {
  color: white;
  font-weight: bold;
}

.page_contaner{
  margin: 0 auto;
  max-width: 2560px;
}
.rely {
  font-size: 4.5em;
  text-align: center;
  font-weight: 800;
  margin-top: 1%;
  margin-bottom: auto;
  color: var(--color_header);
  line-height: 1;

  
}

.rely_text {
  border: 10px black;
  width: 532px;
  height: 99px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.new {
  display: block;
  margin: auto;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.box {
  box-sizing: border-box;
  margin-top: 20px;
  background-color: #fffaf2;
  box-shadow: #cac9c9 0 0 5px 0;
  width: 496px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
}

.box_button {
  border: 3px solid #e1ded9; 
  background-color: transparent;
  width: 152px;
  text-align: center;
  border-radius: 20px;
  font-weight: normal;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: black;

transition-property: background-color;
transition-duration: 0.3s;

transition-property: box-shadow;
transition-duration: 0.5s;

}


a.box_button:hover {
  background-color: #dbcece;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
 
}
.mainpage {
  box-sizing: border-box;

  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

.maintext {
  text-align: center;
  font-size: 20px;
  color: var(--color_header);
  margin-top: 30px;
}

.nav-list__item {
  flex-grow: 1;
  flex-shrink: 1;
}
.header1 {
  text-decoration: none;
  color: var(--color_header);
  text-align: right;
  font-weight: 500;

  padding: 0.5em 0;

  
  transition-property: color;
  transition-duration: 0.3s;
}

a.header1:hover {
  color: #ca5c1d;
}
.arrow {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

input.email:hover {
  background-color: #c4f3ff4f;
}
input.email:focus {
  outline: 0.15em solid #50aab68a;
}

.what_is_arcarta {
  color: #c47344;
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
}
p {
  font-family: Roboto;
}
.card {
  width: 400px;
  height: 360px;
  border: 1px solid #dddddd;
  background-color: #fffaf2;

  font-family: Roboto;
  border-radius: 20px;
  font-style: normal;
  color: #322f2e;
  margin: 10px 20px 50px 10px;
}

.box_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 1%;

  color: var(--color_header);
}

.box_text_b {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
text-align: center;
  color: var(--color_header);
}

.box_text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 28px;
  text-align: center;
  color: var(--color_header);
}
.blue {
  background-image: url(img/blue_rectangle.png);
}


.email {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  border-radius: 10px;
  width: 70%;
  min-width:30%;
  border-width: 10px;
margin-bottom: 10%;
  transition-property: background-color;
  display: inline;
  transition-duration:0.3s ;
}
.arrow {
  vertical-align: middle;
  clear: right;
  position: relative;


}
 

.article {
  text-align: left;
  font-size: 30px;
}

.maindiv {
  align-items: center;
  text-align: center;
  color: #c47344;
}

.quiz_conteiner {
  margin-top: 167px;
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.quiz_card {
  box-sizing: border-box;
  box-shadow: 0 4px 4px;
  border-radius: 10px;
  width: 100%;
  height:270px;


  background-color: #32686f;
  margin-top: 76px;
  color: white;
  margin-top: 50px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}



.begin_button {
  color: white;
  text-decoration: none;
}
.quiz_card2 {
  margin-left: 8%;
  margin-right: 20%;
}

.white_arrow {
  vertical-align: middle;
  float: right;
}

.nullone {
  color: white;
}

.Compliance {
  font-size: 2em;
  color: white;
  margin-top: 0%;
  font-weight: 400;
}

.quiz_text_h {
  font-size: 3em;
  color: var(--color_header);
  font-weight: bolder;
  margin-top: 1%;
  margin-bottom: 0%;
}

.quiz_text_simple {
  color: var(--color_header);
  font-weight: 500;
  line-height: 33px;
  margin-top: 5%;
}

.art_image{
  width: 100%;
  max-width: 400px;
    height: auto;
}
.art_world_container {
  display: flex;
  justify-content: center;
  background-color: #faf7f3;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 60px;
  margin-bottom: 140px;
}

.art_world {
  
  background-color: #faf7f3;
  text-align: center;
  
}

.art_world_text {
  box-sizing: border-box;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
 margin-right: 10%;
  margin-top: 50px;
  margin-left: 5%;
  
}

.recieve {
  font-weight: bold;
  font-size: 20px;
  color: #322f2e;
}

.big_footer_conteiner {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  align-items: stretch;
  margin-left: 5%;
  width: auto;


}


.footer_s {
  box-sizing: border-box;
  width:50px;
  margin-right: 10%;

  background-color: white;
  width: 35%;
}

.footer_text {
  font-size: 13px;
  line-height: 20px;
}

.footer_text_g {
  color: #d3d3d3;
}

.footer_container {
  display: flex;
  flex-direction: row;
  width: 200%;

}


.div_footer {
 margin-left: 10%;
  
}



.a_text {
  font-size: 13px;
  line-height: 20px;
  color: var(--links_color);

  transition-property:color ;
  transition-duration: 0.3s;

 
}

a.a_text:hover {
  color: var(--selection);
 
}
.last_footer {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
 
  align-items: baseline;
  
}

.privacy {
 width: auto;
  margin-left: 50%;
  margin-right: 0%;
  color: #d3d3d3;
  font-weight: bolder;
}

.logos {
  margin-left: 15px;
}
.new_footer {
  vertical-align: middle;
}
footer {
  margin-top: 60px;
  background-color: white;
 width:100% auto;
}
.loader{
  box-sizing: content-box;
  margin-top: -50%;
  color: transparent;
  background-color: transparent;
  
  text-align: center;
  opacity:1;
  animation: loader 7s ;
}
  
  @keyframes loader {
    0%{opacity:0 ;}
    50%{opacity: 0;}
    100%{opacity:1;}
  
}
.progress{
  position: relative;
  z-index: 1;
  margin-top: 50%;
  height: 10px;
  width: 100%;
  border: 5px solid #f4f261;
  border-radius: 15px;
  opacity: 0;
  animation: opacity_1 4s ease-in-out;    
}
.progress .color{
  
  background-color: #ff9494;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  opacity: 1;
  animation: progres 4s  linear;    
}

@keyframes opacity_1 {
  0% {opacity: 1;}
  90% {opacity: 1;}
  100%{opacity:0}
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
}

@media (max-width: 720px) {
  .big_footer_conteiner{
  flex-direction: column;
  margin-bottom: 10px;
  
  }

  .footer_s{
    margin-left: 10%;
    order:1 ;
    margin-top: 40px;
    width: 80%;
    
  }

  .footer_container{
  
  width: 100%;
  }

  .a_text{
    font-size: 70%;
   
  }

  .people_middle{
    width: 200%;
  }
}

@media (max-width:600px) {
  .quiz_conteiner{
    flex-direction: column;
    margin-left: 10%;

  }
  .quiz_card{
    width:240px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .quiz_card2{
    order: -1;
    text-align: center ;
  }
  .quiz_text_h{
    font-size: 2em;
  }
  .mainpage{
    margin: auto;
  }
}

@media (max-width:800px) {
  .art_world_container{
    flex-direction: column;
  }
  
}
