@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

:root {
  --color_header: #322f2e;
  --links_color: #333333;
}
h1 {
  color: var(--color_header);
}
h4 {
  color: var(--links_color);
  font-weight: normal;
}
h5 {
  color: var(--links_color);
}
body {
  background-image: linear-gradient(#fff8ee, white);
  font-family: Roboto;
}
li {
  font-size: 1em;
  font-weight: 400;
  line-height: 20px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.get_start {
  border: 1px solid transparent; /* Параметры рамки */
  background-color: #c47344;
  width: 130px; /* Ширина кнопки */
  height: 40px; /* Высота */
  padding: 10px;
  border-radius: 20px;
  font-weight: 400;
  color: white;
}

a.button {
  border: 1px solid transparent; /* Параметры рамки */
  background-color: #c47344;
  width: 130px; /* Ширина кнопки */
  height: 40px; /* Высота */
  border-radius: 20px;
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0 auto;

  justify-content: center;
  font-size: 100;
}
.button_text {
  color: white;
  font-weight: bold;
}
.rely {
  font-size: 5em;
  text-align: center;
  font-weight: 800;
  margin-top: 1%;
  margin-bottom: auto;
  color: var(--color_header);
  line-height: 1;
}

.rely_text {
  border: 10px black;
  width: 532px;
  height: 99px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.new {
  display: block;
  margin: auto;
}
 hr{
  border: 1px solid rgba(255, 255, 255, 0.18)
 }
.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.box {
  box-sizing: border-box;
  margin-top: 20px;
  background-color: #fffaf2;
  box-shadow: #cac9c9 0 0 5px 0;
  width: 496px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
}

.box_button {
  border: 3px solid #e1ded9; /* Параметры рамки */
  background-color: transparent;
  width: 152px; /* Ширина кнопки */
  text-align: center;
  border-radius: 20px;
  font-weight: normal;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.mainpage {
  box-sizing: border-box;
  
 
  
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

.maintext {
  text-align: center;
  font-size: 20px;
  color: var(--color_header);
  margin-top: 30px;
}

.header {
  text-decoration: none;
  color: var(--color_header);
  text-align: right;
  font-weight: 400;
}

.arrow {
  margin-left: 10px;
  
}

a {
  text-decoration: none;
}

li {
  display: inline;
  padding: 10px;
}

.what_is_arcarta {
  color: #c47344;
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
}
p {
  font-family: Roboto;
}
.card {
  width: 400px;
  height: 360px;
  border: 1px solid #dddddd;
  background-color: #fffaf2;

  font-family: Roboto;
  border-radius: 20px;
  font-style: normal;
  color: #322f2e;
  margin: 10px 20px 50px 10px;
}

.box_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 1%;

  color: var(--color_header);
}

.box_text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 28px;
  text-align: center;
  color: var(--color_header);
}
.blue{
  background-image: url(img/blue_rectangle.png);
}
.email {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  border-radius: 10px;
  width: 380px;
  border-width: 10px;
 
}
.arrow {
 vertical-align: middle;
}

.article {
  text-align: left;
  font-size: 30px;
}

.maindiv {
  align-items: center;
  text-align: center;
  color: #c47344;
}

.quiz_conteiner {
  margin-top: 167px;
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.quiz_card {
  box-sizing: border-box;
  box-shadow: 0 4px 4px;
  border-radius: 10px;
  width: 240px;
  height: 270px;

 
  background-color: #32686f;
  margin-top: 76px;
  color: white;
  margin-top: 50px ;
  padding-left: 20px;
  padding-top: 10px;
  padding-right:20px ;
}

.begin_button{
  color: white;
  text-decoration: none;
}
.quiz_card2 {
  margin-left: 84px;
  margin-right: 200px;
}

.white_arrow{
  vertical-align: middle;
  float: right;
}

.nullone{
color:white;
}

.Compliance{
  font-size: 2em;
  color: white;
  margin-top: 0%;
  font-weight: 400;
}


.quiz_text_h {
  font-size: 3em;
  color: var(--color_header);
  font-weight: bolder;
  margin-top: 1%;
  margin-bottom: 0%;
}

.quiz_text_simple {
  color: var(--color_header);
  font-weight: 500;
  line-height: 33px;
  margin-top: 5%;
}

.art_world_container {
  display: flex;
  justify-content: center;
  background-color: #faf7f3;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 60px;
  margin-bottom: 146px;
}

.art_world {
  display: flex;
  background-color: #faf7f3;
  border: 10px transparent;
  flex-direction: row;
}

.art_world_text {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  width: 550px;
  margin-top: 50px;
  margin-left: 51px;
  margin-right: 200px;
}


.recieve {
  
  font-weight: bold;
  font-size: 20px;
  color: #322f2e;
}

.big_footer_conteiner {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  align-items: stretch;
  margin-left: 5%;
}

.footer_s {
  box-sizing: border-box;
  margin-left: 25px;
  margin-right: 82px;

  background-color: white;
  width: 340px;
}

.footer_text {
  font-size: 13px;
  line-height: 20px;
}

.footer_text_g {
  color: #d3d3d3;
}

.footer_container {
  display: flex;
  flex-direction: row;
  
}
.div_footer {
  margin-left: 108px;
  margin-right: auto;
}
.a_text {
  font-size: 13px;
  line-height: 20px;
  color: var(--links_color);
}

.last_footer {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  align-items: baseline;
}

.privacy {
  margin-left: 840px;
  color: #d3d3d3;
  font-weight: bolder;
}

.logos {
  margin-left: 15px;
}
.new_footer{
vertical-align: middle;
}
footer {
  margin-top: 60px;
  background-color: white;
}
